body{
	background-color: #ABEBC6;
}
form{
	background-color: #52BE80;
	width:200px;
	height: 100px;
	margin-top:100px;
	margin-left: 400px;
	padding:30px; 
}

#contenedor{
	margin-left: 400px;
	color:#BA4A00;
	font-size:20px;
}