body{
	background-color: #ABEBC6;
}
#contenedor{
	margin-left: 400px;
	color:#BA4A00;
	font-size:20px;
}
#contador {
	padding: 5px;
	border: 2px solid black;
	width: 40px;
	height: 30px;
	margin-left: 124px;
}
.color-120{
	color: blue;
	font-weight: bold;
}

.color-130 {
	color: red;
	font-weight: bold;
}
#texto {
  display:block;
  overflow:hidden;
  padding:10px;
  width:250px;
  font-size:14px;
  margin:50px auto;
  border-radius:8px;
  border:6px solid #556677;
  text-align: left;
}
#boton{
	width:200px;
	height:50px;
	margin-left: 565px;
}
